* {
  margin: 0;
  padding: 0;
}
.weui-btn-area {
  margin: 1.17647059em 15px 0.3em;
}
.weui-btn {
  display: block;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  text-height: 2.55555556em;
  border-radius: 5px;
  color: #fff;
  overflow: hidden;
}
.weui-btn_primary {
  background-color: #1aad19;
}
.weui-btn_disabled {
  color: rgna(255, 255, 255, 0.5);
}
.weui-btn_disabled.weui-btn_primary {
  background-color: #9ed99d;
}
.weui-progress {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weui-progress_bar {
  flex: 1;
  height: 3px;
  background: #ebebeb;
}
.weui-progress__inner-bar {
  height: 100%;
  width: 20%;
  background-color: #09bb07;
}
